DOCKERFILE=dockerfile-dev
DOCKER_PLATFORM=linux/amd64
COMPOSE_PROFILES=miner

POSTGRES_USER=bdag_pool
POSTGRES_DB=bdagpool
POSTGRES_PASSWORD=change_me_to_a_strong_secret
MINING_POOL_ADDRESS=0x0000000000000000000000000000000000000000

MINER_POOL_URL=stratum+tcp://pool:3334
MINER_POOL_PASS=x
MINER_WORKERS=1

NETWORK=mainnet
P2P_PORT=8150
BDAG_RPC_PORT=38131
EVM_HTTP_PORT=18545
EVM_WS_PORT=18546
NODE_METRICS_PORT=6060
POOL_BIND_PORT=3334
POOL_API_PORT=9090
DASHBOARD_HOST_PORT=9280

BDAG_NODE_MODE=single
BDAG_NODE_SERVICES=bdag-miner-node-1
BDAG_STACK_SERVICES=pool-db,bdag-miner-node-1,asic-pool
BDAG_ENABLE_NODE_MINING=0
BDAG_NODE_MODULES=Blockdag
BDAG_NODE_MINING_ARGS=

BDAG_FASTSYNC_PEER_ORDERING=p2p-latency
BDAG_FASTSYNC_APPEND_ADDPEERS=1
BDAG_FASTARTIFACTSYNC_ENABLED=1
BDAG_FASTSYNC_PEERS=
BDAG_FASTSYNC_PREPROCESS_WORKERS=1
