DOCKERFILE=dockerfile-dev
DOCKER_PLATFORM=linux/amd64

STACK_SRC_CONTEXT=.
BLOCKDAG_CORECHAIN_CONTEXT=../blockdag-corechain
POOL_SRC_CONTEXT=../pool
COLLECTOR_SRC_CONTEXT=../collector
DASHBOARD_SRC_CONTEXT=../dashboard2

POSTGRES_USER=bdag_pool
POSTGRES_DB=bdagpool
POSTGRES_PASSWORD=devnet_postgres_change_me

NODE_RPC_USER=test
NODE_RPC_PASS=test
BDAG_RPC_PORT=38131
EVM_HTTP_PORT=18545
EVM_WS_PORT=18546
P2P_PORT=18150
POOL_BIND_PORT=3334
POOL_API_PORT=9090
COLLECTOR_HOST_PORT=9280
DASHBOARD_HOST_PORT=8088

MINING_POOL_ADDRESS=0xEd5e2dD1377aBe28907673cdEa8c2c04Fb715dcd
MINER_WORKERS=1
MINER_POOL_PASS=x
MINER_NAME=devnet-cpu

POOL_BLOCK_MATURITY=2
POOL_PAYOUT_MATURITY=10
POOL_FEE_PERCENTAGE=0
POOL_MIN_PDIFF=0.0001
POOL_STARTING_PDIFF=0.0001
POOL_VARDIFF_TARGET_SHARES_PER_MINUTE=6
